CV Job Matcher.json
{
  "name": "CV Job Matcher - Complete with Loop",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=cv0",
        "options": {}
      },
      "id": "0fba3d23-8456-4e1a-8765-9d1e98eba0b5",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1856,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "=Phân tích CV sau đây và trích xuất những từ/cụm từ chỉ kỹ năng cứng/kỹ năng mềm, tất cả các từ ngữ chỉ kỹ năng chuyên môn của mọi ngành nghề đề được trích xuất (không cần trích xuất theo job title có sẵn trong cv). Trả về CHỈ JSON thuần (không có markdown, không có dấu ```), theo định dạng:\n{\n  \"soft_skills\": [\"skill1\", \"skill2\", ...],\n  \"hard_skills\": [\"skill1\", \"skill2\", ...]\n}\n\n**Soft skills** bao gồm: communication, teamwork, leadership, problem-solving, adaptability, customer service, presentation, collaboration, decision making, organizational skills, stakeholder engagement, team leadership, flexibility, analytical skills, time management, critical thinking, conflict resolution, emotional intelligence, negotiation, creativity, attention to detail.\n\n**Hard skills** bao gồm: programming languages (JavaScript, Python, Java, C++, etc.), frameworks (React, Angular, Vue, Django, etc.), tools and technologies (Git, Docker, AWS, Azure, etc.), databases (SQL, MongoDB, PostgreSQL, etc.), methodologies (Agile, Scrum, DevOps, etc.), certifications, technical systems (network administration, IT security, MS Office, hardware installation, etc.).\n\n**QUY TẮC QUAN TRỌNG:**\n1. Chỉ trả về JSON object, không thêm text giải thích\n2. Không dùng markdown ```json\n3. Skill names viết thường (lowercase)\n4. Mỗi skill là một string riêng biệt trong array\n\n**CV Content:**\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fbb9d9b6-8a4f-4ba1-8087-98f4b8bc601b",
      "name": "Set - Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1632,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hàm tách riêng các từ trong một skill\nfunction splitWords(skill) {\n  // Chuyển về lowercase, loại bỏ khoảng trắng thừa, split theo space hoặc ký tự không phải chữ\n  return String(skill)\n    .toLowerCase()\n    .trim()\n    .split(/[\\s\\-_,]+/) // tách theo space, dash, underscore, comma\n    .filter(s => s.length > 0); // loại bỏ chuỗi rỗng\n}\n\n// Parse AI Agent response\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    let responseText = '';\n    \n    // AI Agent response có thể ở nhiều formats\n    if (item.json.output) {\n      responseText = item.json.output;\n    } else if (item.json.text) {\n      responseText = item.json.text;\n    } else if (typeof item.json === 'string') {\n      responseText = item.json;\n    } else {\n      throw new Error('Cannot find response text in AI Agent output');\n    }\n    \n    // Clean response - remove markdown và extra text\n    let cleanedText = responseText\n      .replace(/```json/gi, '')\n      .replace(/```/g, '')\n      .replace(/^[^{]*/, '') // Remove text before {\n      .replace(/[^}]*$/, '') // Remove text after }\n      .trim();\n    \n    // Parse JSON\n    const skills = JSON.parse(cleanedText);\n    \n    // Validate và normalize\n    if (!skills.soft_skills || !Array.isArray(skills.soft_skills)) {\n      throw new Error('Invalid soft_skills format');\n    }\n    if (!skills.hard_skills || !Array.isArray(skills.hard_skills)) {\n      throw new Error('Invalid hard_skills format');\n    }\n    \n    // Chuyển lowercase, trim và tách từ\n    const cv_soft_skills = skills.soft_skills\n      .map(s => splitWords(s))\n      .flat(); // flatten mảng con thành mảng 1 chiều\n\n    const cv_hard_skills = skills.hard_skills\n      .map(s => splitWords(s))\n      .flat();\n    \n    results.push({\n      json: {\n        cv_soft_skills,\n        cv_hard_skills,\n        _debug: {\n          raw_response: responseText.substring(0, 200)\n        }\n      }\n    });\n    \n  } catch (error) {\n    console.error('Parse error:', error);\n    results.push({\n      json: {\n        error: `Parse failed: ${error.message}`,\n        cv_soft_skills: [],\n        cv_hard_skills: [],\n        _debug: {\n          raw_data: JSON.stringify(item.json).substring(0, 500)\n        }\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "242abbb6-130a-47f5-b30f-fe86aa58c3b1",
      "name": "Code - Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Processed_Mock_IT_JobSkills",
        "returnAll": true
      },
      "id": "1b6ac9da-25f1-4322-a749-cdfd436d01fa",
      "name": "Supabase - Get Jobs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RrKJOXEwfrfTB5a8",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fields to Set:\n[\n  {\n    \"name\": \"{{ $json.chatInput }}\",\n    \"type\": \"String\",\n    \"value\": \"={{ $json.text }}\"\n  }\n]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1408,
        96
      ],
      "id": "189d01f1-2507-45ab-84a1-2a934dc37ffe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1344,
        320
      ],
      "id": "b2a004b2-f8a5-4a89-9aeb-819c45857a98",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iLnxkf8XclX8UzOw",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================== Lấy dữ liệu CV ==================\nconst cvSoftRaw = $('Code - Parse AI Response').first().json.cv_soft_skills;\nconst cvSoft = Array.isArray(cvSoftRaw) ? cvSoftRaw.map(s => s.toLowerCase().trim()) : [];\nconst cvHardRaw = $('Code - Parse AI Response').first().json.cv_hard_skills;\nconst cvHard = Array.isArray(cvHardRaw) ? cvHardRaw.map(s => s.toLowerCase().trim()) : [];\n\n// ================== Lấy dữ liệu Job từ node trước ==================\nconst jobData = $('Code - Prepare Job Data').first().json;\nconst jobSoftTokens = jobData.soft_skills_words || [];\nconst jobHardTokens = jobData.hard_skills_words || [];\n\n// ================== Hàm tách từ cho CV ==================\nfunction normalizeAndSplit(skillsArray) {\n  const allWords = new Set();\n  \n  skillsArray.forEach(skill => {\n    const words = skill.toLowerCase()\n      .replace(/[^a-z0-9\\s]/g, ' ')\n      .split(/\\s+/)\n      .filter(word => word.length > 0);\n    \n    words.forEach(word => allWords.add(word));\n  });\n  \n  return Array.from(allWords);\n}\n\nconst cvSoftTokens = normalizeAndSplit(cvSoft);\nconst cvHardTokens = normalizeAndSplit(cvHard);\n\n// ================== Hàm đếm số từ trùng ==================\nfunction matchCountTokens(cvTokens, jobTokens) {\n  if (!Array.isArray(cvTokens) || !Array.isArray(jobTokens)) return 0;\n  const jobSet = new Set(jobTokens);\n  return cvTokens.filter(token => jobSet.has(token)).length;\n}\n\n// ================== Hàm tính matching score ==================\nfunction Scoring(cvSoftTokens, cvHardTokens, jobSoftTokens, jobHardTokens) {\n  const softMatches = matchCountTokens(cvSoftTokens, jobSoftTokens);\n  const hardMatches = matchCountTokens(cvHardTokens, jobHardTokens);\n  \n  const weightHard = 0.7;\n  const weightSoft = 0.3;\n  \n  const rawScore = hardMatches * weightHard + softMatches * weightSoft;\n  \n  const maxHard = jobHardTokens.length || 1;\n  const maxSoft = jobSoftTokens.length || 1;\n  const maxScore = maxHard * weightHard + maxSoft * weightSoft;\n  \n  const scaledScore = Math.round((rawScore / maxScore) * 100);\n  \n  return scaledScore;\n}\n\n// ================== Tạo kết quả ==================\nreturn [{\n  json: {\n    job_title: jobData.job_title,\n    job_id: jobData.id,\n    match_soft: matchCountTokens(cvSoftTokens, jobSoftTokens),\n    match_hard: matchCountTokens(cvHardTokens, jobHardTokens),\n    word_matching_score: Scoring(cvSoftTokens, cvHardTokens, jobSoftTokens, jobHardTokens),\n    cv_soft_tokens_count: cvSoftTokens.length,\n    cv_hard_tokens_count: cvHardTokens.length,\n    job_soft_tokens_count: jobSoftTokens.length,\n    job_hard_tokens_count: jobHardTokens.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -64
      ],
      "id": "6b537790-2a7c-49be-84ec-75d529d9b73c",
      "name": "Code - Word Matching Engine"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        96
      ],
      "id": "88d8e0d6-1036-4648-a865-324735b359d3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        64,
        240
      ],
      "id": "362e2b4d-3b4e-4305-8e3e-6e191b26a9ba",
      "name": "AI Agent - Semantic Matching"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        464
      ],
      "id": "d89c78d2-d3f5-432c-8e18-192239e12770",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "iLnxkf8XclX8UzOw",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\ntry {\n  // Lấy response từ AI Agent - Thử nhiều fields\n  let responseText = item.json.output || item.json.text || item.json.response || item.json.content || '';\n  \n  // Nếu vẫn rỗng, check xem có phải data nằm trong nested object không\n  if (!responseText && item.json.data) {\n    responseText = typeof item.json.data === 'string' ? item.json.data : JSON.stringify(item.json.data);\n  }\n  \n  // Nếu vẫn rỗng, stringify toàn bộ\n  if (!responseText) {\n    responseText = JSON.stringify(item.json);\n  }\n  \n  // Clean response - loại bỏ markdown backticks\n  let cleanedText = responseText\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/g, '')\n    .replace(/`/g, '')\n    .trim();\n  \n  // Parse JSON\n  let results = JSON.parse(cleanedText);\n  \n  // Nếu là object, wrap vào array\n  if (!Array.isArray(results)) {\n    results = [results];\n  }\n  \n  // Map kết quả với validation\n  const parsedResults = results.map((result, index) => {\n    const semanticScore = typeof result.semantic_score === 'number' \n      ? Math.min(100, Math.max(0, result.semantic_score))\n      : 50;\n    \n    return {\n      job_title: result.job_title || `job_${index + 1}`,\n      semantic_score: semanticScore,\n      score: semanticScore,\n      reasoning: result.reasoning || 'No reasoning provided',\n      skill_gaps: Array.isArray(result.skill_gaps) ? result.skill_gaps : [],\n      strengths: Array.isArray(result.strengths) ? result.strengths : []\n    };\n  });\n  \n  // Trả về array\n  return parsedResults.map(result => ({ json: result }));\n  \n} catch (error) {\n  console.error('Parse error:', error.message);\n  console.error('Raw data:', JSON.stringify(item.json).substring(0, 500));\n  \n  return [{\n    json: {\n      job_title: 'Parse Error',\n      semantic_score: 0,\n      score: 0,\n      reasoning: `Parse failed: ${error.message}. Raw: ${JSON.stringify(item.json).substring(0, 200)}`,\n      skill_gaps: [],\n      strengths: [],\n      error: error.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "id": "ae1ac996-9ef5-408a-a405-16e54dde1669",
      "name": "Code - Parse Semantic Result"
    },
    {
      "parameters": {
        "jsCode": "// Lấy job hiện tại từ loop\nconst currentJob = $input.first().json;\n\n// Hàm tách từ\nfunction normalizeAndSplit(skillsArray) {\n  if (!Array.isArray(skillsArray)) return [];\n  \n  const allWords = new Set();\n  \n  skillsArray.forEach(skill => {\n    const words = String(skill).toLowerCase()\n      .replace(/[^a-z0-9\\s]/g, ' ')\n      .split(/\\s+/)\n      .filter(word => word.length > 0);\n    \n    words.forEach(word => allWords.add(word));\n  });\n  \n  return Array.from(allWords);\n}\n\nconst softSkills = currentJob.soft_skills || [];\nconst hardSkills = currentJob.hard_skills || [];\n\nreturn [{\n  json: {\n    id: currentJob.id,\n    job_title: currentJob.job_title,\n    soft_skills: softSkills,\n    hard_skills: hardSkills,\n    soft_skills_words: normalizeAndSplit(softSkills),\n    hard_skills_words: normalizeAndSplit(hardSkills)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -64
      ],
      "id": "dd968572-be49-4d0b-b7aa-2e2b9f9e8d88",
      "name": "Code - Prepare Job Data"
    },
    {
      "parameters": {
        "jsCode": "// Lấy CV skills từ node \"Code - Parse AI Response\" (node trước đó)\nconst cvData = $('Code - Parse AI Response').first().json;\nconst cvSoftSkills = cvData.cv_soft_skills || [];\nconst cvHardSkills = cvData.cv_hard_skills || [];\n\n// Lấy tất cả word matching results từ input hiện tại\nconst allResults = $input.all();\n\n// Chỉ lấy 10 jobs đầu tiên (đã được sort theo word_matching_score)\nconst top10Jobs = allResults.slice(0, 10);\n\n// Tạo job list cho AI - phân tích 10 jobs có word matching score cao nhất\nconst jobsList = top10Jobs.map((item, index) => {\n  const job = item.json;\n  \n  // Đảm bảo skills là array, nếu không thì dùng array rỗng\n  const softSkills = Array.isArray(job.job_soft_skills) ? job.job_soft_skills : [];\n  const hardSkills = Array.isArray(job.job_hard_skills) ? job.job_hard_skills : [];\n  \n  return `${index + 1}. **${job.job_title || 'N/A'}**\n   - Required Soft Skills: ${softSkills.length > 0 ? softSkills.join(', ') : 'None listed'}\n   - Required Hard Skills: ${hardSkills.length > 0 ? hardSkills.join(', ') : 'None listed'}\n   - Word Matching Score: ${job.word_matching_score || 0}%`;\n}).join('\\n\\n');\n\n// Tạo prompt cho AI\nconst prompt = `You are an expert HR recruiter analyzing CV-Job matching for the TOP 10 positions (pre-filtered by word matching algorithm).\n\n**CANDIDATE'S CV SKILLS**:\n- Soft Skills: ${cvSoftSkills.length > 0 ? cvSoftSkills.join(', ') : 'None listed'}\n- Hard Skills: ${cvHardSkills.length > 0 ? cvHardSkills.join(', ') : 'None listed'}\n\n**TOP 10 JOBS TO ANALYZE** (already sorted by word matching score):\n${jobsList}\n\n**SCORING LOGIC**:\nRate based on:\n1. Semantic similarity (not just exact keyword matches)\n2. Transferable skills (e.g., \"React\" relates to \"Frontend Development\")\n3. Skill relevance and depth\n4. Industry context understanding\n\n**SCORE SCALE**:\n- 90-100: Excellent match, all key skills covered\n- 75-89: Strong match, minor gaps\n- 60-74: Good match, transferable skills present\n- 45-59: Fair match, significant gaps but potential\n- 0-44: Poor match, major skill gaps\n\n**CRITICAL**: Return ONLY a JSON array (NO markdown, NO explanation, NO extra text) with **exactly the top 5 jobs having the highest semantic_score (FROM HIGHEST TO LOWEST)**:\n[\n  {\n    \"job_title\": \"exact_job_title_from_list_above\",\n    \"semantic_score\": 85,\n    \"reasoning\": \"Brief explanation (max 50 words)\",\n    \"skill_gaps\": [\"gap1\", \"gap2\", \"gap3\"],\n    \"strengths\": [\"strength1\", \"strength2\", \"strength3\"]\n  }\n]\n\nReturn an array of 3 objects using the EXACT job_title values from the list (including proper capitalization). Sort the output by descending semantic_score.`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    total_jobs: top10Jobs.length, // Sẽ là 10 (hoặc ít hơn nếu không đủ)\n    job_titles_map: top10Jobs.map(item => item.json.job_title),\n    cv_skills_summary: {\n      soft: cvSoftSkills,\n      hard: cvHardSkills\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ],
      "id": "7a0be841-b024-45fe-ad39-cc11877c53f3",
      "name": "Code - Prepare Semantic Input"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ELdVXzcfk6zTeM7K",
          "mode": "list",
          "cachedResultName": "Job_Matching_Results",
          "cachedResultUrl": "/projects/Gqxsj4e0XUwtrTfd/datatables/ELdVXzcfk6zTeM7K"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "word_matching_score": "={{ $json.word_matching_score }}",
            "job_title": "={{ $json.job_title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "word_matching_score",
              "displayName": "word_matching_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        128,
        -64
      ],
      "id": "6c4ae6d8-2f45-46d9-b8f3-ef2c4e6d706c",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "word_matching_score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -384,
        240
      ],
      "id": "4fe31c77-d295-41bc-8574-a63e55a0204b",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ELdVXzcfk6zTeM7K",
          "mode": "list",
          "cachedResultName": "Job_Matching_Results",
          "cachedResultUrl": "/projects/Gqxsj4e0XUwtrTfd/datatables/ELdVXzcfk6zTeM7K"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "f04be574-789a-463d-8b2e-634b211c816e",
      "name": "Delete row(s)",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "274a5ff2-771d-4f02-bf92-ab6846e7273f",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "cv",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "* "
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2080,
        96
      ],
      "id": "aa11f5da-c36b-4614-bf57-ee00d45a8a59",
      "name": "Webhook",
      "webhookId": "274a5ff2-771d-4f02-bf92-ab6846e7273f"
    }
  ],
  "pinData": {
    "Supabase - Get Jobs": [
      {
        "json": {
          "id": 138,
          "job_title": "Database Administrator",
          "hard_skills": [
            "sql",
            "nosql",
            "oracle",
            "mysql",
            "postgresql",
            "mongodb",
            "database",
            "design",
            "normalization",
            "query",
            "optimization",
            "stored",
            "procedures",
            "backup",
            "recovery",
            "replication",
            "high",
            "availability",
            "clustering",
            "security",
            "user",
            "management",
            "indexing",
            "data",
            "migration",
            "warehousing",
            "etl",
            "performance",
            "tuning",
            "troubleshooting",
            "scripting",
            "python",
            "bash",
            "automation",
            "cloud",
            "databases",
            "aws",
            "rds",
            "azure",
            "gcp",
            "bigquery",
            "integrity",
            "modeling",
            "capacity",
            "planning",
            "monitoring",
            "system",
            "administration",
            "linux",
            "windows",
            "server",
            "disaster",
            "auditing",
            "encryption",
            "compliance",
            "scheduling",
            "access",
            "control",
            "change",
            "log",
            "analysis",
            "version",
            "governance",
            "error",
            "handling",
            "networking",
            "documentation"
          ],
          "soft_skills": [
            "attention",
            "detail",
            "problem",
            "solving",
            "analytical",
            "thinking",
            "communication",
            "teamwork",
            "adaptability",
            "critical",
            "accountability",
            "integrity",
            "time",
            "management",
            "organization",
            "professionalism",
            "dependability",
            "flexibility",
            "resilience",
            "conflict",
            "resolution",
            "customer",
            "orientation",
            "continuous",
            "learning",
            "innovation",
            "empathy",
            "collaboration",
            "decision",
            "making",
            "transparency",
            "feedback",
            "acceptance",
            "delegation",
            "trust",
            "building",
            "multitasking",
            "positive",
            "attitude",
            "ownership",
            "motivation",
            "goal",
            "setting",
            "networking",
            "constructive",
            "criticism",
            "open",
            "mindedness",
            "cultural",
            "awareness",
            "leadership",
            "adaptable",
            "ethical",
            "framing",
            "agility",
            "team",
            "coordination",
            "clarity",
            "stress",
            "initiative",
            "self",
            "active",
            "listening",
            "strategic",
            "curiosity"
          ]
        }
      },
      {
        "json": {
          "id": 135,
          "job_title": "Full Stack Developer",
          "hard_skills": [
            "html",
            "css",
            "javascript",
            "typescript",
            "react",
            "angular",
            "vue",
            "js",
            "node",
            "express",
            "python",
            "django",
            "flask",
            "java",
            "spring",
            "boot",
            "database",
            "management",
            "sql",
            "nosql",
            "rest",
            "apis",
            "graphql",
            "microservices",
            "serverless",
            "architecture",
            "version",
            "control",
            "git",
            "ci",
            "cd",
            "pipelines",
            "cloud",
            "platforms",
            "aws",
            "azure",
            "gcp",
            "containerization",
            "docker",
            "orchestration",
            "kubernetes",
            "responsive",
            "design",
            "ux",
            "ui",
            "basics",
            "cross",
            "platform",
            "development",
            "mobile",
            "native",
            "flutter",
            "devops",
            "testing",
            "unit",
            "integration",
            "performance",
            "optimization",
            "security",
            "fundamentals",
            "authentication",
            "authorization",
            "data",
            "visualization",
            "api",
            "websockets",
            "graphical",
            "tools",
            "figma",
            "sketch",
            "package",
            "npm",
            "yarn",
            "frameworks",
            "jest",
            "mocha",
            "analytics",
            "backend",
            "logic",
            "frontend",
            "deployment",
            "automation",
            "monitoring",
            "logging",
            "scalability",
            "concepts",
            "infrastructure",
            "as",
            "code",
            "caching",
            "redis"
          ],
          "soft_skills": [
            "versatility",
            "adaptability",
            "communication",
            "teamwork",
            "problem",
            "solving",
            "time",
            "management",
            "prioritization",
            "continuous",
            "learning",
            "creativity",
            "attention",
            "detail",
            "collaboration",
            "leadership",
            "when",
            "needed",
            "feedback",
            "acceptance",
            "self",
            "motivation",
            "ownership",
            "strategic",
            "thinking",
            "customer",
            "orientation",
            "presentation",
            "skills",
            "active",
            "listening",
            "empathy",
            "innovation",
            "goal",
            "setting",
            "stress",
            "resilience",
            "networking",
            "dependability",
            "integrity",
            "professionalism",
            "delegation",
            "technical",
            "mentoring",
            "cross",
            "functional",
            "adaptable",
            "change",
            "building",
            "trust",
            "cultural",
            "awareness",
            "clear",
            "influence",
            "growth",
            "mindset",
            "multitasking",
            "organizational",
            "framing",
            "constructive",
            "criticism",
            "team",
            "coordination",
            "negotiation",
            "positive",
            "attitude",
            "systematic",
            "initiative",
            "respect"
          ]
        }
      },
      {
        "json": {
          "id": 136,
          "job_title": "Cloud Architect",
          "hard_skills": [
            "cloud",
            "computing",
            "aws",
            "azure",
            "google",
            "devops",
            "ci",
            "cd",
            "docker",
            "kubernetes",
            "terraform",
            "cloudformation",
            "networking",
            "security",
            "linux",
            "windows",
            "server",
            "virtualization",
            "load",
            "balancing",
            "firewalls",
            "storage",
            "management",
            "backup",
            "systems",
            "disaster",
            "recovery",
            "automation",
            "python",
            "bash",
            "monitoring",
            "grafana",
            "prometheus",
            "logging",
            "identity",
            "access",
            "control",
            "encryption",
            "scalability",
            "cost",
            "optimization",
            "strategy",
            "microservices",
            "api",
            "serverless",
            "lambda",
            "scripting",
            "protocols",
            "dns",
            "vpn",
            "performance",
            "tuning",
            "infrastructure",
            "as",
            "code",
            "version",
            "git",
            "data",
            "migration",
            "tools",
            "system",
            "design",
            "governance",
            "compliance"
          ],
          "soft_skills": [
            "leadership",
            "communication",
            "problem",
            "solving",
            "analytical",
            "thinking",
            "strategic",
            "collaboration",
            "teamwork",
            "adaptability",
            "decision",
            "making",
            "creativity",
            "time",
            "management",
            "accountability",
            "integrity",
            "customer",
            "orientation",
            "negotiation",
            "critical",
            "conflict",
            "resolution",
            "innovation",
            "professionalism",
            "continuous",
            "learning",
            "resilience",
            "flexibility",
            "goal",
            "setting",
            "transparency",
            "feedback",
            "acceptance",
            "delegation",
            "organization",
            "positive",
            "attitude",
            "dependability",
            "ownership",
            "empathy",
            "networking",
            "trust",
            "building",
            "team",
            "coordination",
            "constructive",
            "criticism",
            "adaptable",
            "presentation",
            "skills",
            "open",
            "mindedness",
            "curiosity",
            "motivation",
            "stress",
            "clarity",
            "cultural",
            "awareness",
            "ethical",
            "tools",
            "agility",
            "influence",
            "framing",
            "self",
            "initiative"
          ]
        }
      },
      {
        "json": {
          "id": 137,
          "job_title": "Product Manager",
          "hard_skills": [
            "product",
            "roadmap",
            "agile",
            "scrum",
            "kanban",
            "project",
            "management",
            "jira",
            "confluence",
            "data",
            "analysis",
            "sql",
            "market",
            "research",
            "user",
            "wireframing",
            "prototyping",
            "testing",
            "business",
            "strategy",
            "financial",
            "forecasting",
            "kpi",
            "stakeholder",
            "lifecycle",
            "mvp",
            "design",
            "customer",
            "journey",
            "mapping",
            "ui",
            "ux",
            "principles",
            "excel",
            "presentation",
            "documentation",
            "risk",
            "competitive",
            "visualization",
            "storytelling",
            "pricing",
            "budget",
            "segmentation",
            "feedback",
            "feature",
            "prioritization",
            "backlog",
            "cross",
            "functional",
            "collaboration",
            "software",
            "development",
            "marketing",
            "communication",
            "saas",
            "apis",
            "driven",
            "decision",
            "making",
            "okrs",
            "planning",
            "lean",
            "methodology",
            "change",
            "automation",
            "tools",
            "team",
            "coordination",
            "problem",
            "framing"
          ],
          "soft_skills": [
            "leadership",
            "communication",
            "strategic",
            "thinking",
            "problem",
            "solving",
            "decision",
            "making",
            "teamwork",
            "collaboration",
            "negotiation",
            "adaptability",
            "time",
            "management",
            "empathy",
            "conflict",
            "resolution",
            "innovation",
            "creativity",
            "accountability",
            "integrity",
            "organization",
            "professionalism",
            "analytical",
            "customer",
            "orientation",
            "positive",
            "attitude",
            "resilience",
            "multitasking",
            "flexibility",
            "goal",
            "setting",
            "feedback",
            "acceptance",
            "motivation",
            "transparency",
            "dependability",
            "active",
            "listening",
            "delegation",
            "trust",
            "building",
            "critical",
            "networking",
            "constructive",
            "criticism",
            "cultural",
            "awareness",
            "ownership",
            "clarity",
            "presentation",
            "skills",
            "influence",
            "team",
            "coordination",
            "stress",
            "open",
            "mindedness",
            "framing",
            "learning",
            "agility",
            "curiosity",
            "initiative",
            "self",
            "adaptable",
            "empowerment"
          ]
        }
      },
      {
        "json": {
          "id": 126,
          "job_title": "Software Engineer",
          "hard_skills": [
            "python",
            "java",
            "javascript",
            "typescript",
            "sql",
            "nosql",
            "html",
            "css",
            "react",
            "angular",
            "vue",
            "js",
            "node",
            "django",
            "flask",
            "spring",
            "boot",
            "kotlin",
            "swift",
            "rest",
            "api",
            "graphql",
            "git",
            "ci",
            "cd",
            "docker",
            "kubernetes",
            "linux",
            "cloud",
            "computing",
            "aws",
            "azure",
            "gcp",
            "testing",
            "debugging",
            "system",
            "design",
            "microservices",
            "agile",
            "scrum",
            "jira",
            "development",
            "software",
            "architecture",
            "performance",
            "optimization",
            "database",
            "management",
            "security",
            "encryption",
            "networking",
            "oop",
            "data",
            "structures",
            "algorithms",
            "version",
            "control",
            "problem",
            "solving",
            "automation",
            "code",
            "review"
          ],
          "soft_skills": [
            "communication",
            "teamwork",
            "problem",
            "solving",
            "critical",
            "thinking",
            "adaptability",
            "creativity",
            "leadership",
            "time",
            "management",
            "collaboration",
            "analytical",
            "attention",
            "detail",
            "empathy",
            "emotional",
            "intelligence",
            "accountability",
            "decision",
            "making",
            "conflict",
            "resolution",
            "resilience",
            "negotiation",
            "flexibility",
            "work",
            "ethic",
            "self",
            "motivation",
            "organization",
            "open",
            "mindedness",
            "listening",
            "public",
            "speaking",
            "presentation",
            "mentoring",
            "coaching",
            "persuasion",
            "positive",
            "attitude",
            "stress",
            "patience",
            "multitasking",
            "networking",
            "customer",
            "orientation",
            "active",
            "learning",
            "innovation",
            "initiative",
            "dependability",
            "integrity",
            "confidence",
            "strategic",
            "goal",
            "setting",
            "prioritization",
            "feedback",
            "acceptance",
            "delegation",
            "curiosity",
            "professionalism",
            "awareness",
            "tools"
          ]
        }
      },
      {
        "json": {
          "id": 127,
          "job_title": "Data Scientist",
          "hard_skills": [
            "python",
            "sql",
            "nosql",
            "tensorflow",
            "pytorch",
            "pandas",
            "numpy",
            "scikit",
            "learn",
            "matplotlib",
            "seaborn",
            "tableau",
            "power",
            "bi",
            "big",
            "data",
            "hadoop",
            "spark",
            "hive",
            "machine",
            "learning",
            "deep",
            "statistics",
            "probability",
            "cleaning",
            "wrangling",
            "feature",
            "engineering",
            "regression",
            "analysis",
            "classification",
            "clustering",
            "visualization",
            "etl",
            "testing",
            "time",
            "series",
            "natural",
            "language",
            "processing",
            "computer",
            "vision",
            "mining",
            "model",
            "evaluation",
            "deployment",
            "ethics",
            "optimization",
            "cloud",
            "ai",
            "aws",
            "sagemaker",
            "google",
            "azure",
            "ml",
            "excel",
            "business",
            "intelligence",
            "apis",
            "warehousing",
            "analytics",
            "governance",
            "predictive",
            "modeling",
            "exploratory"
          ],
          "soft_skills": [
            "communication",
            "storytelling",
            "data",
            "critical",
            "thinking",
            "problem",
            "solving",
            "curiosity",
            "teamwork",
            "collaboration",
            "decision",
            "making",
            "analytical",
            "adaptability",
            "attention",
            "detail",
            "integrity",
            "accountability",
            "empathy",
            "creativity",
            "resilience",
            "time",
            "management",
            "multitasking",
            "continuous",
            "learning",
            "presentation",
            "negotiation",
            "listening",
            "open",
            "mindedness",
            "self",
            "motivation",
            "leadership",
            "conflict",
            "resolution",
            "patience",
            "stress",
            "feedback",
            "acceptance",
            "organization",
            "dependability",
            "positive",
            "attitude",
            "initiative",
            "professionalism",
            "goal",
            "setting",
            "strategic",
            "innovation",
            "delegation",
            "flexibility",
            "customer",
            "orientation",
            "team",
            "coordination",
            "networking",
            "transparency",
            "ownership",
            "clarity",
            "cultural",
            "awareness",
            "constructive",
            "criticism",
            "agility",
            "trust",
            "building",
            "framing"
          ]
        }
      },
      {
        "json": {
          "id": 128,
          "job_title": "UI/UX Designer",
          "hard_skills": [
            "figma",
            "adobe",
            "xd",
            "sketch",
            "photoshop",
            "illustrator",
            "prototyping",
            "wireframing",
            "user",
            "research",
            "usability",
            "testing",
            "journey",
            "mapping",
            "information",
            "architecture",
            "visual",
            "design",
            "interaction",
            "thinking",
            "typography",
            "color",
            "theory",
            "responsive",
            "accessibility",
            "html",
            "css",
            "javascript",
            "ui",
            "kits",
            "systems",
            "brand",
            "identity",
            "layout",
            "storyboarding",
            "animation",
            "microinteractions",
            "flow",
            "persona",
            "creation",
            "competitive",
            "analysis",
            "heuristic",
            "evaluation",
            "empathy",
            "mobile",
            "web",
            "tools",
            "collaboration",
            "presentation",
            "agile",
            "ux",
            "strategy",
            "creative",
            "direction",
            "iconography",
            "mockups",
            "hierarchy",
            "style",
            "guides",
            "component",
            "libraries",
            "grid",
            "writing",
            "motion",
            "metrics"
          ],
          "soft_skills": [
            "creativity",
            "empathy",
            "communication",
            "collaboration",
            "adaptability",
            "curiosity",
            "critical",
            "thinking",
            "problem",
            "solving",
            "time",
            "management",
            "attention",
            "detail",
            "patience",
            "flexibility",
            "listening",
            "teamwork",
            "innovation",
            "leadership",
            "presentation",
            "skills",
            "negotiation",
            "storytelling",
            "confidence",
            "self",
            "motivation",
            "accountability",
            "feedback",
            "acceptance",
            "open",
            "mindedness",
            "professionalism",
            "organization",
            "positive",
            "attitude",
            "resilience",
            "integrity",
            "networking",
            "initiative",
            "strategic",
            "customer",
            "orientation",
            "goal",
            "setting",
            "conflict",
            "resolution",
            "delegation",
            "multitasking",
            "constructive",
            "criticism",
            "clarity",
            "design",
            "framing",
            "cultural",
            "awareness",
            "emotional",
            "intelligence",
            "decision",
            "making",
            "ownership",
            "active",
            "team",
            "coordination",
            "learning",
            "agility",
            "adaptable",
            "transparency"
          ]
        }
      },
      {
        "json": {
          "id": 129,
          "job_title": "DevOps Engineer",
          "hard_skills": [
            "linux",
            "python",
            "bash",
            "shell",
            "scripting",
            "ci",
            "cd",
            "jenkins",
            "gitlab",
            "docker",
            "kubernetes",
            "ansible",
            "terraform",
            "cloud",
            "computing",
            "aws",
            "azure",
            "gcp",
            "monitoring",
            "prometheus",
            "grafana",
            "elk",
            "stack",
            "system",
            "administration",
            "networking",
            "security",
            "firewall",
            "management",
            "load",
            "balancing",
            "automation",
            "configuration",
            "infrastructure",
            "as",
            "code",
            "logging",
            "troubleshooting",
            "version",
            "control",
            "build",
            "pipelines",
            "testing",
            "microservices",
            "serverless",
            "virtualization",
            "vmware",
            "deployment",
            "strategies",
            "high",
            "availability",
            "disaster",
            "recovery",
            "backup",
            "systems",
            "performance",
            "tuning",
            "formation",
            "helm",
            "service",
            "mesh",
            "tools",
            "agile",
            "incident",
            "response",
            "container",
            "orchestration",
            "protocols",
            "resource"
          ],
          "soft_skills": [
            "collaboration",
            "communication",
            "problem",
            "solving",
            "adaptability",
            "critical",
            "thinking",
            "teamwork",
            "leadership",
            "decision",
            "making",
            "accountability",
            "time",
            "management",
            "stress",
            "empathy",
            "resilience",
            "creativity",
            "innovation",
            "customer",
            "orientation",
            "professionalism",
            "integrity",
            "flexibility",
            "initiative",
            "curiosity",
            "dependability",
            "organizational",
            "skills",
            "multitasking",
            "continuous",
            "learning",
            "feedback",
            "acceptance",
            "conflict",
            "resolution",
            "negotiation",
            "active",
            "listening",
            "strategic",
            "ownership",
            "goal",
            "setting",
            "delegation",
            "transparency",
            "positive",
            "attitude",
            "building",
            "trust",
            "change",
            "adaptable",
            "constructive",
            "criticism",
            "vision",
            "cross",
            "team",
            "framing",
            "coordination",
            "clarity",
            "agility",
            "ethical",
            "networking",
            "influence",
            "motivation"
          ]
        }
      },
      {
        "json": {
          "id": 130,
          "job_title": "Cybersecurity Specialist",
          "hard_skills": [
            "network",
            "security",
            "firewalls",
            "encryption",
            "penetration",
            "testing",
            "ethical",
            "hacking",
            "vulnerability",
            "assessment",
            "intrusion",
            "detection",
            "incident",
            "response",
            "malware",
            "analysis",
            "auditing",
            "policies",
            "forensics",
            "siem",
            "tools",
            "ids",
            "ips",
            "access",
            "control",
            "risk",
            "management",
            "threat",
            "intelligence",
            "cloud",
            "compliance",
            "data",
            "protection",
            "privacy",
            "laws",
            "identity",
            "authentication",
            "vpn",
            "configuration",
            "operating",
            "systems",
            "linux",
            "windows",
            "protocols",
            "web",
            "application",
            "owasp",
            "phishing",
            "prevention",
            "email",
            "endpoint",
            "zero",
            "trust",
            "automation",
            "scripting",
            "log",
            "monitoring",
            "disaster",
            "recovery",
            "backup",
            "scanning",
            "cyber",
            "red",
            "teaming",
            "blue",
            "awareness",
            "governance",
            "cryptography",
            "system",
            "hardening",
            "patch"
          ],
          "soft_skills": [
            "attention",
            "detail",
            "analytical",
            "thinking",
            "communication",
            "problem",
            "solving",
            "integrity",
            "teamwork",
            "adaptability",
            "critical",
            "leadership",
            "decision",
            "making",
            "stress",
            "management",
            "accountability",
            "resilience",
            "empathy",
            "professionalism",
            "negotiation",
            "continuous",
            "learning",
            "flexibility",
            "dependability",
            "customer",
            "orientation",
            "time",
            "conflict",
            "resolution",
            "innovation",
            "transparency",
            "feedback",
            "acceptance",
            "goal",
            "setting",
            "ownership",
            "constructive",
            "criticism",
            "positive",
            "attitude",
            "multitasking",
            "organization",
            "networking",
            "ethical",
            "awareness",
            "framing",
            "adaptable",
            "team",
            "coordination",
            "curiosity",
            "initiative",
            "cross",
            "collaboration",
            "agility",
            "delegation",
            "strategic",
            "cultural",
            "building",
            "trust",
            "clarity",
            "influence",
            "motivation",
            "open",
            "mindedness",
            "self",
            "under",
            "pressure",
            "security",
            "mindset"
          ]
        }
      },
      {
        "json": {
          "id": 131,
          "job_title": "Software Engineer",
          "hard_skills": [
            "python",
            "java",
            "javascript",
            "typescript",
            "sql",
            "nosql",
            "html",
            "css",
            "object",
            "oriented",
            "design",
            "data",
            "structures",
            "algorithms",
            "debugging",
            "version",
            "control",
            "git",
            "unit",
            "testing",
            "integration",
            "continuous",
            "deployment",
            "build",
            "automation",
            "software",
            "architecture",
            "microservices",
            "rest",
            "apis",
            "graphql",
            "performance",
            "optimization",
            "memory",
            "management",
            "concurrency",
            "parallel",
            "programming",
            "multithreading",
            "operating",
            "systems",
            "linux",
            "windows",
            "server",
            "mac",
            "os",
            "cloud",
            "computing",
            "aws",
            "azure",
            "gcp",
            "containerization",
            "docker",
            "orchestration",
            "kubernetes",
            "devops",
            "practices",
            "agile",
            "methodologies",
            "scrum",
            "kanban",
            "requirement",
            "analysis",
            "database",
            "orm",
            "frameworks",
            "security",
            "fundamentals",
            "encryption",
            "networking",
            "basics",
            "api",
            "mobile",
            "platforms",
            "cross",
            "platform",
            "development",
            "desktop",
            "application",
            "dev",
            "embedded"
          ],
          "soft_skills": [
            "communication",
            "teamwork",
            "problem",
            "solving",
            "analytical",
            "thinking",
            "attention",
            "detail",
            "time",
            "management",
            "adaptability",
            "creativity",
            "leadership",
            "collaboration",
            "critical",
            "decision",
            "making",
            "accountability",
            "initiative",
            "self",
            "motivation",
            "empathy",
            "resilience",
            "flexibility",
            "stress",
            "patience",
            "work",
            "ethic",
            "continuous",
            "learning",
            "curiosity",
            "negotiation",
            "conflict",
            "resolution",
            "multitasking",
            "organizational",
            "skills",
            "presentation",
            "active",
            "listening",
            "coaching",
            "mentoring",
            "positive",
            "attitude",
            "networking",
            "customer",
            "orientation",
            "dependability",
            "integrity",
            "professionalism",
            "feedback",
            "acceptance",
            "goal",
            "setting",
            "prioritization",
            "delegation",
            "innovation",
            "ownership",
            "strategic",
            "under",
            "pressure",
            "team",
            "coordination",
            "clear",
            "influence",
            "building",
            "trust",
            "cultural",
            "awareness"
          ]
        }
      },
      {
        "json": {
          "id": 132,
          "job_title": "Data Scientist",
          "hard_skills": [
            "python",
            "sql",
            "nosql",
            "data",
            "wrangling",
            "cleaning",
            "transformation",
            "statistics",
            "probability",
            "theory",
            "machine",
            "learning",
            "deep",
            "neural",
            "networks",
            "tensorflow",
            "pytorch",
            "scikit",
            "learn",
            "pandas",
            "numpy",
            "visualization",
            "matplotlib",
            "seaborn",
            "tableau",
            "power",
            "bi",
            "big",
            "technologies",
            "hadoop",
            "spark",
            "hive",
            "etl",
            "processes",
            "feature",
            "engineering",
            "model",
            "deployment",
            "validation",
            "tuning",
            "testing",
            "time",
            "series",
            "analysis",
            "regression",
            "clustering",
            "classification",
            "dimensionality",
            "reduction",
            "optimization",
            "warehousing",
            "business",
            "intelligence",
            "api",
            "integration",
            "cloud",
            "platforms",
            "aws",
            "sagemaker",
            "google",
            "ai",
            "azure",
            "factory",
            "natural",
            "language",
            "processing",
            "nlp",
            "computer",
            "vision",
            "reinforcement",
            "statistical",
            "modeling",
            "ethics"
          ],
          "soft_skills": [
            "communication",
            "insights",
            "critical",
            "thinking",
            "problem",
            "solving",
            "curiosity",
            "continuous",
            "learning",
            "teamwork",
            "collaboration",
            "stakeholders",
            "presentation",
            "skills",
            "storytelling",
            "data",
            "attention",
            "detail",
            "adaptability",
            "time",
            "management",
            "prioritization",
            "active",
            "listening",
            "empathy",
            "cross",
            "functional",
            "decision",
            "making",
            "accountability",
            "organizational",
            "influence",
            "negotiation",
            "coaching",
            "mentoring",
            "innovation",
            "strategic",
            "ownership",
            "resilience",
            "stress",
            "multitasking",
            "creativity",
            "networking",
            "positive",
            "attitude",
            "professionalism",
            "feedback",
            "acceptance",
            "leadership",
            "clarity",
            "ethical",
            "awareness",
            "building",
            "trust",
            "change",
            "goal",
            "setting",
            "framing",
            "adaptable",
            "self",
            "motivation",
            "dependability",
            "team",
            "coordination",
            "constructive",
            "cultural",
            "growth",
            "mindset",
            "initiative"
          ]
        }
      },
      {
        "json": {
          "id": 133,
          "job_title": "Frontend Developer",
          "hard_skills": [
            "html",
            "css",
            "javascript",
            "typescript",
            "react",
            "angular",
            "vue",
            "js",
            "sass",
            "less",
            "responsive",
            "web",
            "design",
            "cross",
            "browser",
            "compatibility",
            "performance",
            "optimization",
            "dom",
            "manipulation",
            "version",
            "control",
            "git",
            "webpack",
            "babel",
            "rest",
            "apis",
            "graphql",
            "single",
            "page",
            "applications",
            "spa",
            "progressive",
            "apps",
            "pwa",
            "accessibility",
            "ux",
            "principles",
            "ui",
            "frameworks",
            "mobile",
            "first",
            "grid",
            "flexbox",
            "animation",
            "testing",
            "jest",
            "mocha",
            "debugging",
            "tools",
            "devtools",
            "state",
            "management",
            "redux",
            "vuex",
            "service",
            "workers",
            "localization",
            "internationalization",
            "security",
            "basics",
            "xss",
            "csrf",
            "websockets",
            "api",
            "integration",
            "pixel",
            "perfect",
            "implementation",
            "code",
            "translation",
            "package",
            "npm",
            "yarn",
            "graphical",
            "figma",
            "sketch",
            "svg",
            "canvas",
            "type",
            "checking",
            "flow",
            "ts",
            "monitoring"
          ],
          "soft_skills": [
            "creativity",
            "attention",
            "detail",
            "communication",
            "teamwork",
            "problem",
            "solving",
            "adaptability",
            "time",
            "management",
            "prioritization",
            "active",
            "listening",
            "collaboration",
            "user",
            "centric",
            "mindset",
            "feedback",
            "acceptance",
            "self",
            "motivation",
            "continuous",
            "learning",
            "empathy",
            "users",
            "resilience",
            "positive",
            "attitude",
            "leadership",
            "when",
            "needed",
            "organizational",
            "skills",
            "presentation",
            "multitasking",
            "networking",
            "customer",
            "orientation",
            "influence",
            "innovation",
            "goal",
            "setting",
            "professionalism",
            "constructive",
            "criticism",
            "team",
            "coordination",
            "cultural",
            "awareness",
            "clarity",
            "change",
            "ownership",
            "strategic",
            "thinking",
            "building",
            "trust",
            "curiosity",
            "framing",
            "adaptable",
            "coaching",
            "mentoring",
            "stress",
            "dependability",
            "growth",
            "initiative",
            "pride",
            "cross",
            "functional",
            "respect",
            "negotiation",
            "vision"
          ]
        }
      },
      {
        "json": {
          "id": 134,
          "job_title": "Backend Developer",
          "hard_skills": [
            "java",
            "python",
            "php",
            "node",
            "js",
            "go",
            "database",
            "management",
            "mysql",
            "postgresql",
            "nosql",
            "mongodb",
            "cassandra",
            "api",
            "design",
            "development",
            "microservices",
            "architecture",
            "serverless",
            "computing",
            "soap",
            "rest",
            "web",
            "services",
            "graphql",
            "data",
            "structures",
            "algorithms",
            "concurrency",
            "multithreading",
            "message",
            "queues",
            "rabbitmq",
            "kafka",
            "caching",
            "redis",
            "memcached",
            "security",
            "oauth",
            "jwt",
            "authentication",
            "authorization",
            "containerization",
            "docker",
            "orchestration",
            "kubernetes",
            "cloud",
            "platforms",
            "aws",
            "azure",
            "gcp",
            "linux",
            "server",
            "administration",
            "version",
            "control",
            "git",
            "ci",
            "cd",
            "pipelines",
            "monitoring",
            "logging",
            "performance",
            "tuning",
            "scalability",
            "concepts",
            "orm",
            "frameworks",
            "unit",
            "integration",
            "testing",
            "network",
            "protocols",
            "configuration",
            "virtualization",
            "deployment",
            "automation",
            "fault",
            "tolerance",
            "backup",
            "recovery",
            "integrity",
            "documentation",
            "brokers",
            "service",
            "discovery",
            "domain",
            "driven"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "analytical",
            "thinking",
            "teamwork",
            "communication",
            "attention",
            "detail",
            "adaptability",
            "time",
            "management",
            "collaboration",
            "leadership",
            "team",
            "leads",
            "decision",
            "making",
            "accountability",
            "initiative",
            "self",
            "motivation",
            "continuous",
            "learning",
            "resilience",
            "stress",
            "multitasking",
            "organizational",
            "skills",
            "active",
            "listening",
            "feedback",
            "acceptance",
            "professionalism",
            "goal",
            "setting",
            "prioritization",
            "delegation",
            "innovation",
            "technical",
            "mentoring",
            "ownership",
            "strategic",
            "influence",
            "dependability",
            "integrity",
            "networking",
            "framing",
            "building",
            "trust",
            "cultural",
            "awareness",
            "change",
            "clear",
            "negotiation",
            "empathy",
            "curiosity",
            "growth",
            "mindset",
            "coordination",
            "constructive",
            "criticism",
            "customer",
            "orientation",
            "adaptable",
            "systematic",
            "vision",
            "respect"
          ]
        }
      },
      {
        "json": {
          "id": 139,
          "job_title": "IT Project Manager",
          "hard_skills": [
            "project",
            "planning",
            "agile",
            "scrum",
            "kanban",
            "waterfall",
            "budgeting",
            "risk",
            "management",
            "scheduling",
            "resource",
            "allocation",
            "stakeholder",
            "ms",
            "jira",
            "confluence",
            "documentation",
            "reporting",
            "performance",
            "tracking",
            "change",
            "procurement",
            "scope",
            "cost",
            "estimation",
            "quality",
            "assurance",
            "testing",
            "communication",
            "plans",
            "presentation",
            "data",
            "analysis",
            "team",
            "coordination",
            "leadership",
            "tools",
            "decision",
            "modeling",
            "workflow",
            "design",
            "gantt",
            "charts",
            "lifecycle",
            "process",
            "improvement",
            "time",
            "automation",
            "collaboration",
            "business",
            "contract",
            "negotiation",
            "mitigation",
            "software",
            "development",
            "itil",
            "master",
            "coaching",
            "budget",
            "control",
            "vendor",
            "status",
            "monitoring",
            "forecasting",
            "kpi",
            "cross",
            "functional",
            "standards"
          ],
          "soft_skills": [
            "leadership",
            "communication",
            "teamwork",
            "strategic",
            "thinking",
            "problem",
            "solving",
            "decision",
            "making",
            "adaptability",
            "negotiation",
            "conflict",
            "resolution",
            "organization",
            "time",
            "management",
            "accountability",
            "integrity",
            "empathy",
            "collaboration",
            "professionalism",
            "transparency",
            "motivation",
            "resilience",
            "flexibility",
            "positive",
            "attitude",
            "goal",
            "setting",
            "customer",
            "orientation",
            "continuous",
            "learning",
            "dependability",
            "multitasking",
            "stress",
            "critical",
            "delegation",
            "feedback",
            "acceptance",
            "trust",
            "building",
            "networking",
            "ownership",
            "cultural",
            "awareness",
            "innovation",
            "constructive",
            "criticism",
            "clarity",
            "team",
            "coordination",
            "framing",
            "active",
            "listening",
            "agility",
            "adaptable",
            "empowerment",
            "presentation",
            "skills",
            "ethical",
            "open",
            "mindedness",
            "self",
            "tools",
            "curiosity"
          ]
        }
      },
      {
        "json": {
          "id": 140,
          "job_title": "Network Engineer",
          "hard_skills": [
            "tcp",
            "ip",
            "subnetting",
            "routing",
            "switching",
            "firewall",
            "configuration",
            "vpn",
            "setup",
            "lan",
            "wan",
            "design",
            "network",
            "monitoring",
            "wireshark",
            "cisco",
            "ios",
            "juniper",
            "networks",
            "security",
            "load",
            "balancing",
            "voip",
            "dns",
            "management",
            "dhcp",
            "wireless",
            "networking",
            "troubleshooting",
            "snmp",
            "automation",
            "python",
            "ansible",
            "netflow",
            "analysis",
            "protocols",
            "osi",
            "model",
            "bandwidth",
            "optimization",
            "packet",
            "bgp",
            "ospf",
            "mpls",
            "vlans",
            "ipv",
            "performance",
            "tuning",
            "documentation",
            "cloud",
            "zero",
            "trust",
            "architecture",
            "ssl",
            "tls",
            "compliance",
            "firepower",
            "simulation",
            "auditing",
            "address",
            "scalability",
            "virtualization",
            "sd",
            "nac",
            "tools",
            "balancer",
            "aruba",
            "scripts"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "attention",
            "detail",
            "analytical",
            "thinking",
            "communication",
            "teamwork",
            "adaptability",
            "time",
            "management",
            "critical",
            "patience",
            "collaboration",
            "decision",
            "making",
            "conflict",
            "resolution",
            "active",
            "listening",
            "presentation",
            "skills",
            "leadership",
            "stress",
            "creativity",
            "organization",
            "prioritization",
            "mentoring",
            "negotiation",
            "customer",
            "service",
            "documentation",
            "networking",
            "influencing",
            "persuasion",
            "empathy",
            "project",
            "troubleshooting",
            "proactive",
            "multitasking",
            "flexibility",
            "developers",
            "security",
            "diagnosis",
            "reporting",
            "stakeholder",
            "process",
            "improvement",
            "learning",
            "agility",
            "technical",
            "writing",
            "interpersonal",
            "observation",
            "analysis",
            "strategic",
            "team",
            "continuous",
            "knowledge",
            "sharing"
          ]
        }
      },
      {
        "json": {
          "id": 141,
          "job_title": "Business Analyst",
          "hard_skills": [
            "requirements",
            "gathering",
            "process",
            "mapping",
            "uml",
            "data",
            "modeling",
            "sql",
            "excel",
            "power",
            "bi",
            "tableau",
            "business",
            "analysis",
            "jira",
            "confluence",
            "agile",
            "methodologies",
            "scrum",
            "kanban",
            "wireframing",
            "bpmn",
            "gap",
            "swot",
            "risk",
            "use",
            "case",
            "development",
            "user",
            "stories",
            "acceptance",
            "criteria",
            "stakeholder",
            "documentation",
            "functional",
            "specifications",
            "improvement",
            "forecasting",
            "reporting",
            "erp",
            "systems",
            "crm",
            "traceability",
            "flowcharting",
            "optimization",
            "kpis",
            "definition",
            "market",
            "competitive",
            "change",
            "management",
            "visualization",
            "project",
            "benchmarking",
            "prototyping",
            "cost",
            "benefit",
            "testing",
            "planning",
            "system",
            "queries",
            "pivot",
            "tables",
            "cleaning",
            "automation"
          ],
          "soft_skills": [
            "analytical",
            "thinking",
            "communication",
            "stakeholder",
            "management",
            "negotiation",
            "problem",
            "solving",
            "critical",
            "documentation",
            "skills",
            "teamwork",
            "presentation",
            "decision",
            "making",
            "adaptability",
            "active",
            "listening",
            "time",
            "organization",
            "leadership",
            "conflict",
            "resolution",
            "collaboration",
            "empathy",
            "creative",
            "attention",
            "detail",
            "prioritization",
            "facilitation",
            "influencing",
            "reporting",
            "analysis",
            "process",
            "oriented",
            "strategic",
            "customer",
            "focus",
            "mentoring",
            "change",
            "project",
            "coordination",
            "knowledge",
            "sharing",
            "improvement",
            "research",
            "proactive",
            "interpersonal",
            "multitasking",
            "continuous",
            "learning",
            "persuasion",
            "technical",
            "writing",
            "data",
            "interpretation",
            "flexibility",
            "observation",
            "team",
            "design"
          ]
        }
      },
      {
        "json": {
          "id": 142,
          "job_title": "QA Engineer",
          "hard_skills": [
            "manual",
            "testing",
            "automation",
            "selenium",
            "testng",
            "junit",
            "postman",
            "api",
            "performance",
            "load",
            "stress",
            "bug",
            "tracking",
            "jira",
            "testrail",
            "regression",
            "smoke",
            "sanity",
            "integration",
            "functional",
            "sql",
            "database",
            "python",
            "java",
            "version",
            "control",
            "git",
            "ci",
            "cd",
            "agile",
            "kanban",
            "test",
            "plans",
            "cases",
            "requirement",
            "analysis",
            "defect",
            "life",
            "cycle",
            "mobile",
            "ui",
            "cross",
            "browser",
            "web",
            "frameworks",
            "robot",
            "framework",
            "monitoring",
            "tools",
            "loadrunner",
            "scripting",
            "quality",
            "standards",
            "code",
            "review",
            "metrics",
            "reporting",
            "risk",
            "based",
            "strategy",
            "continuous",
            "scripts",
            "languages"
          ],
          "soft_skills": [
            "attention",
            "detail",
            "problem",
            "solving",
            "critical",
            "thinking",
            "analytical",
            "communication",
            "teamwork",
            "time",
            "management",
            "adaptability",
            "collaboration",
            "leadership",
            "decision",
            "making",
            "creativity",
            "organization",
            "prioritization",
            "documentation",
            "skills",
            "negotiation",
            "active",
            "listening",
            "empathy",
            "stress",
            "proactive",
            "process",
            "oriented",
            "continuous",
            "learning",
            "stakeholder",
            "diagnosis",
            "flexibility",
            "observation",
            "conflict",
            "resolution",
            "customer",
            "focus",
            "improvement",
            "strategic",
            "mentoring",
            "analysis",
            "persuasion",
            "influencing",
            "multitasking",
            "reporting",
            "research",
            "presentation",
            "facilitation",
            "team",
            "developers",
            "security",
            "knowledge",
            "sharing",
            "anticipation",
            "technical",
            "agility"
          ]
        }
      },
      {
        "json": {
          "id": 143,
          "job_title": "Digital Marketing Specialist",
          "hard_skills": [
            "seo",
            "google",
            "analytics",
            "ads",
            "facebook",
            "content",
            "marketing",
            "email",
            "social",
            "media",
            "management",
            "ppc",
            "sem",
            "keyword",
            "research",
            "automation",
            "crm",
            "tools",
            "copywriting",
            "testing",
            "conversion",
            "rate",
            "optimization",
            "data",
            "analysis",
            "excel",
            "power",
            "bi",
            "tableau",
            "graphic",
            "design",
            "canva",
            "photoshop",
            "video",
            "editing",
            "wordpress",
            "cms",
            "strategy",
            "brand",
            "influencer",
            "customer",
            "segmentation",
            "affiliate",
            "retargeting",
            "mobile",
            "campaign",
            "planning",
            "lead",
            "generation",
            "listening",
            "market",
            "copy",
            "blogging",
            "ux",
            "principles",
            "landing",
            "page",
            "html",
            "css",
            "basics",
            "reporting",
            "competitor",
            "engagement",
            "roi",
            "scripts",
            "cleaning",
            "performance",
            "tracking",
            "auditing"
          ],
          "soft_skills": [
            "creativity",
            "communication",
            "analytical",
            "thinking",
            "problem",
            "solving",
            "time",
            "management",
            "adaptability",
            "teamwork",
            "collaboration",
            "critical",
            "organization",
            "attention",
            "detail",
            "decision",
            "making",
            "leadership",
            "strategic",
            "presentation",
            "skills",
            "customer",
            "focus",
            "negotiation",
            "active",
            "listening",
            "persuasion",
            "project",
            "stress",
            "flexibility",
            "process",
            "oriented",
            "proactive",
            "conflict",
            "resolution",
            "storytelling",
            "research",
            "data",
            "interpretation",
            "multitasking",
            "continuous",
            "learning",
            "observation",
            "influencing",
            "knowledge",
            "sharing",
            "networking",
            "empathy",
            "digital",
            "campaigns",
            "prioritization",
            "team",
            "designers",
            "developers",
            "reporting",
            "diagnosis",
            "improvement",
            "content",
            "planning",
            "brand",
            "trends",
            "user",
            "experience",
            "marketing",
            "documentation",
            "campaign",
            "evaluation"
          ]
        }
      },
      {
        "json": {
          "id": 144,
          "job_title": "Technical Writer",
          "hard_skills": [
            "documentation",
            "standards",
            "api",
            "user",
            "manuals",
            "technical",
            "writing",
            "tools",
            "ms",
            "word",
            "excel",
            "adobe",
            "framemaker",
            "madcap",
            "flare",
            "snagit",
            "confluence",
            "jira",
            "markdown",
            "html",
            "css",
            "xml",
            "dita",
            "content",
            "management",
            "systems",
            "information",
            "architecture",
            "version",
            "control",
            "git",
            "strategy",
            "knowledge",
            "base",
            "creation",
            "editing",
            "proofreading",
            "style",
            "guides",
            "screen",
            "capture",
            "flowcharts",
            "diagrams",
            "illustrations",
            "templates",
            "specification",
            "rest",
            "swagger",
            "json",
            "yaml",
            "release",
            "notes",
            "tutorials",
            "training",
            "material",
            "review",
            "usability",
            "testing",
            "localization",
            "audience",
            "analysis",
            "research",
            "skills",
            "scripting",
            "basics",
            "process",
            "workflow",
            "instructional",
            "design",
            "seo",
            "audit",
            "revision",
            "glossary",
            "collaboration"
          ],
          "soft_skills": [
            "attention",
            "detail",
            "communication",
            "writing",
            "skills",
            "editing",
            "research",
            "organization",
            "time",
            "management",
            "critical",
            "thinking",
            "collaboration",
            "adaptability",
            "creativity",
            "problem",
            "solving",
            "analytical",
            "documentation",
            "presentation",
            "teamwork",
            "stakeholder",
            "process",
            "oriented",
            "active",
            "listening",
            "decision",
            "making",
            "leadership",
            "flexibility",
            "proactive",
            "stress",
            "empathy",
            "learning",
            "agility",
            "mentoring",
            "negotiation",
            "persuasion",
            "knowledge",
            "sharing",
            "multitasking",
            "observation",
            "strategic",
            "storytelling",
            "technical",
            "improvement",
            "continuous",
            "developers",
            "designers",
            "customer",
            "focus",
            "review",
            "instructional",
            "design",
            "clarity",
            "tools",
            "audience",
            "analysis",
            "prioritization",
            "reporting",
            "influencing"
          ]
        }
      },
      {
        "json": {
          "id": 145,
          "job_title": "Mobile App Developer",
          "hard_skills": [
            "swift",
            "kotlin",
            "java",
            "objective",
            "react",
            "native",
            "flutter",
            "xcode",
            "android",
            "studio",
            "ui",
            "ux",
            "principles",
            "restful",
            "apis",
            "graphql",
            "firebase",
            "sqlite",
            "realm",
            "core",
            "data",
            "push",
            "notifications",
            "app",
            "store",
            "submission",
            "google",
            "play",
            "version",
            "control",
            "git",
            "ci",
            "cd",
            "unit",
            "testing",
            "integration",
            "automated",
            "debugging",
            "performance",
            "optimization",
            "memory",
            "management",
            "networking",
            "security",
            "best",
            "practices",
            "api",
            "json",
            "xml",
            "third",
            "party",
            "sdks",
            "animations",
            "material",
            "design",
            "storyboard",
            "constraints",
            "widget",
            "customization",
            "background",
            "services",
            "battery",
            "localization",
            "accessibility",
            "analytics",
            "crash",
            "reporting",
            "code",
            "review",
            "agile",
            "methodologies",
            "kanban",
            "scrum",
            "dependency",
            "injection",
            "reactive",
            "programming",
            "mvvm",
            "mvp"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "attention",
            "detail",
            "creativity",
            "collaboration",
            "communication",
            "adaptability",
            "time",
            "management",
            "critical",
            "thinking",
            "teamwork",
            "decision",
            "making",
            "active",
            "listening",
            "organization",
            "proactive",
            "stress",
            "patience",
            "empathy",
            "leadership",
            "mentoring",
            "presentation",
            "skills",
            "continuous",
            "learning",
            "negotiation",
            "conflict",
            "resolution",
            "prioritization",
            "diagnosis",
            "flexibility",
            "multitasking",
            "stakeholder",
            "strategic",
            "designers",
            "customer",
            "focus",
            "analytical",
            "process",
            "oriented",
            "knowledge",
            "sharing",
            "persuasion",
            "observation",
            "agility",
            "improvement",
            "influencing",
            "reporting",
            "project",
            "solutions",
            "team",
            "security",
            "documentation",
            "qa",
            "analysis",
            "tools",
            "feedback",
            "innovation"
          ]
        }
      },
      {
        "json": {
          "id": 146,
          "job_title": "Systems Administrator",
          "hard_skills": [
            "linux",
            "administration",
            "windows",
            "server",
            "active",
            "directory",
            "dns",
            "dhcp",
            "group",
            "policy",
            "vmware",
            "hyper",
            "cloud",
            "platforms",
            "aws",
            "azure",
            "google",
            "powershell",
            "bash",
            "scripting",
            "networking",
            "fundamentals",
            "firewall",
            "configuration",
            "vpn",
            "setup",
            "backup",
            "recovery",
            "disaster",
            "storage",
            "management",
            "monitoring",
            "tools",
            "nagios",
            "zabbix",
            "system",
            "security",
            "patch",
            "performance",
            "tuning",
            "log",
            "analysis",
            "troubleshooting",
            "user",
            "account",
            "email",
            "servers",
            "exchange",
            "auditing",
            "automation",
            "ansible",
            "puppet",
            "chef",
            "itil",
            "processes",
            "incident",
            "service",
            "desk",
            "remote",
            "desktop",
            "hardening",
            "resource",
            "allocation",
            "capacity",
            "planning",
            "virtualization",
            "database",
            "printer",
            "peripheral",
            "network",
            "protocols",
            "ssl",
            "tls",
            "compliance",
            "standards",
            "documentation",
            "software",
            "deployment",
            "scripts"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "attention",
            "detail",
            "analytical",
            "thinking",
            "communication",
            "collaboration",
            "teamwork",
            "time",
            "management",
            "critical",
            "decision",
            "making",
            "adaptability",
            "proactive",
            "stress",
            "organization",
            "conflict",
            "resolution",
            "leadership",
            "customer",
            "service",
            "active",
            "listening",
            "documentation",
            "skills",
            "diagnosis",
            "prioritization",
            "flexibility",
            "mentoring",
            "knowledge",
            "sharing",
            "observation",
            "process",
            "oriented",
            "strategic",
            "continuous",
            "learning",
            "negotiation",
            "creativity",
            "presentation",
            "developers",
            "influencing",
            "stakeholder",
            "multitasking",
            "reporting",
            "improvement",
            "innovation",
            "team",
            "analysis",
            "security",
            "qa",
            "troubleshooting",
            "mindset",
            "patience",
            "agility",
            "focus",
            "maintenance",
            "tools"
          ]
        }
      },
      {
        "json": {
          "id": 147,
          "job_title": "Cloud Engineer",
          "hard_skills": [
            "aws",
            "azure",
            "google",
            "cloud",
            "architecture",
            "serverless",
            "computing",
            "docker",
            "kubernetes",
            "terraform",
            "security",
            "networking",
            "ci",
            "cd",
            "python",
            "bash",
            "scripting",
            "monitoring",
            "tools",
            "prometheus",
            "grafana",
            "storage",
            "load",
            "balancing",
            "auto",
            "scaling",
            "databases",
            "sql",
            "nosql",
            "migration",
            "infrastructure",
            "as",
            "code",
            "virtual",
            "machines",
            "lambda",
            "functions",
            "api",
            "gateway",
            "cloudformation",
            "iam",
            "identity",
            "management",
            "groups",
            "firewall",
            "rules",
            "ssl",
            "tls",
            "disaster",
            "recovery",
            "high",
            "availability",
            "performance",
            "optimization",
            "cost",
            "auditing",
            "server",
            "backup",
            "solutions",
            "container",
            "orchestration",
            "microservices",
            "protocols",
            "compliance",
            "automation",
            "logging",
            "alerting",
            "data",
            "encryption",
            "version",
            "control",
            "system",
            "integration",
            "application",
            "deployment"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "analytical",
            "thinking",
            "communication",
            "collaboration",
            "teamwork",
            "adaptability",
            "time",
            "management",
            "critical",
            "decision",
            "making",
            "proactive",
            "attention",
            "detail",
            "stress",
            "organization",
            "leadership",
            "mentoring",
            "continuous",
            "learning",
            "creativity",
            "flexibility",
            "diagnosis",
            "knowledge",
            "sharing",
            "stakeholder",
            "developers",
            "qa",
            "process",
            "improvement",
            "oriented",
            "analysis",
            "presentation",
            "skills",
            "negotiation",
            "conflict",
            "resolution",
            "multitasking",
            "observation",
            "customer",
            "focus",
            "innovation",
            "documentation",
            "strategic",
            "team",
            "tools",
            "reporting",
            "agility",
            "patience",
            "maintenance",
            "influencing",
            "technical",
            "prioritization",
            "anticipation",
            "designers",
            "solutions"
          ]
        }
      },
      {
        "json": {
          "id": 148,
          "job_title": "IT Support Specialist",
          "hard_skills": [
            "windows",
            "os",
            "linux",
            "macos",
            "troubleshooting",
            "hardware",
            "repair",
            "software",
            "installation",
            "active",
            "directory",
            "network",
            "vpn",
            "printers",
            "peripherals",
            "ticketing",
            "systems",
            "service",
            "desk",
            "tools",
            "remote",
            "desktop",
            "system",
            "diagnostics",
            "email",
            "configuration",
            "antivirus",
            "backup",
            "solutions",
            "password",
            "resets",
            "updates",
            "mobile",
            "device",
            "management",
            "cloud",
            "applications",
            "office",
            "google",
            "workspace",
            "protocols",
            "firewall",
            "router",
            "switch",
            "monitoring",
            "helpdesk",
            "procedures",
            "customer",
            "support",
            "ticket",
            "escalation",
            "knowledge",
            "base",
            "scripting",
            "basics",
            "automation",
            "database",
            "queries",
            "deployment",
            "optimization",
            "user",
            "training",
            "scripts",
            "patch",
            "it",
            "documentation",
            "security",
            "awareness",
            "access",
            "control",
            "ssl",
            "tls",
            "policies",
            "account",
            "provisioning",
            "incident",
            "compliance"
          ],
          "soft_skills": [
            "communication",
            "problem",
            "solving",
            "patience",
            "customer",
            "service",
            "analytical",
            "thinking",
            "attention",
            "detail",
            "adaptability",
            "teamwork",
            "time",
            "management",
            "stress",
            "critical",
            "decision",
            "making",
            "active",
            "listening",
            "organization",
            "collaboration",
            "proactive",
            "conflict",
            "resolution",
            "documentation",
            "skills",
            "multitasking",
            "flexibility",
            "empathy",
            "process",
            "oriented",
            "technical",
            "knowledge",
            "sharing",
            "learning",
            "agility",
            "stakeholder",
            "developers",
            "improvement",
            "observation",
            "leadership",
            "analysis",
            "negotiation",
            "creativity",
            "mentoring",
            "prioritization",
            "strategic",
            "diagnosis",
            "reporting",
            "team",
            "continuous",
            "maintenance",
            "qa",
            "anticipation",
            "presentation",
            "innovation",
            "tools",
            "influencing",
            "focus",
            "users"
          ]
        }
      },
      {
        "json": {
          "id": 149,
          "job_title": "Data Engineer",
          "hard_skills": [
            "python",
            "java",
            "scala",
            "sql",
            "nosql",
            "etl",
            "data",
            "warehousing",
            "bigquery",
            "redshift",
            "snowflake",
            "hadoop",
            "spark",
            "kafka",
            "airflow",
            "pipelines",
            "modeling",
            "database",
            "design",
            "integration",
            "cleaning",
            "transformation",
            "rest",
            "apis",
            "cloud",
            "platforms",
            "aws",
            "azure",
            "google",
            "docker",
            "kubernetes",
            "monitoring",
            "tools",
            "version",
            "control",
            "git",
            "scripting",
            "performance",
            "optimization",
            "governance",
            "security",
            "quality",
            "agile",
            "methodologies",
            "kanban",
            "scrum",
            "scheduling",
            "message",
            "queues",
            "lakes",
            "streaming",
            "batch",
            "processing",
            "unit",
            "testing",
            "automation",
            "cataloging",
            "workflow",
            "management",
            "archiving",
            "metadata",
            "visualization",
            "documentation"
          ],
          "soft_skills": [
            "problem",
            "solving",
            "analytical",
            "thinking",
            "attention",
            "detail",
            "communication",
            "collaboration",
            "teamwork",
            "adaptability",
            "time",
            "management",
            "critical",
            "decision",
            "making",
            "proactive",
            "stress",
            "organization",
            "leadership",
            "mentoring",
            "continuous",
            "learning",
            "creativity",
            "flexibility",
            "diagnosis",
            "knowledge",
            "sharing",
            "stakeholder",
            "developers",
            "qa",
            "process",
            "improvement",
            "oriented",
            "analysis",
            "presentation",
            "skills",
            "negotiation",
            "conflict",
            "resolution",
            "multitasking",
            "observation",
            "customer",
            "focus",
            "innovation",
            "documentation",
            "strategic",
            "team",
            "tools",
            "reporting",
            "agility",
            "patience",
            "maintenance",
            "influencing",
            "technical",
            "prioritization",
            "anticipation",
            "designers",
            "solutions"
          ]
        }
      },
      {
        "json": {
          "id": 150,
          "job_title": "AI Engineer",
          "hard_skills": [
            "python",
            "tensorflow",
            "pytorch",
            "keras",
            "scikit",
            "learn",
            "machine",
            "learning",
            "deep",
            "nlp",
            "computer",
            "vision",
            "reinforcement",
            "neural",
            "networks",
            "data",
            "preprocessing",
            "feature",
            "engineering",
            "model",
            "training",
            "evaluation",
            "hyperparameter",
            "tuning",
            "visualization",
            "matplotlib",
            "seaborn",
            "numpy",
            "pandas",
            "big",
            "hadoop",
            "spark",
            "mining",
            "ai",
            "ethics",
            "cloud",
            "aws",
            "sagemaker",
            "azure",
            "ml",
            "google",
            "platform",
            "sql",
            "nosql",
            "java",
            "mathematics",
            "statistics",
            "linear",
            "algebra",
            "probability",
            "optimization",
            "automation",
            "deployment",
            "apis",
            "version",
            "control",
            "git",
            "jupyter",
            "etl",
            "predictive",
            "modeling",
            "object",
            "detection",
            "speech",
            "recognition",
            "knowledge",
            "graphs",
            "governance"
          ],
          "soft_skills": [
            "analytical",
            "thinking",
            "problem",
            "solving",
            "critical",
            "creativity",
            "curiosity",
            "adaptability",
            "teamwork",
            "communication",
            "collaboration",
            "decision",
            "making",
            "leadership",
            "time",
            "management",
            "integrity",
            "accountability",
            "attention",
            "detail",
            "resilience",
            "empathy",
            "negotiation",
            "continuous",
            "learning",
            "multitasking",
            "professionalism",
            "conflict",
            "resolution",
            "innovation",
            "flexibility",
            "organization",
            "positive",
            "attitude",
            "feedback",
            "acceptance",
            "customer",
            "orientation",
            "goal",
            "setting",
            "transparency",
            "active",
            "listening",
            "cultural",
            "awareness",
            "delegation",
            "constructive",
            "criticism",
            "dependability",
            "trust",
            "building",
            "ownership",
            "networking",
            "stress",
            "open",
            "mindedness",
            "motivation",
            "team",
            "coordination",
            "adaptable",
            "ethical",
            "agility",
            "strategic",
            "clarity",
            "presentation",
            "skills",
            "framing",
            "initiative"
          ]
        }
      }
    ]
  },
  "connections": {
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Set - Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse AI Response": {
      "main": [
        [
          {
            "node": "Supabase - Get Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code - Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Word Matching Engine": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Prepare Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Semantic Matching",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Semantic Matching": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Semantic Result": {
      "main": [
        []
      ]
    },
    "Code - Prepare Job Data": {
      "main": [
        [
          {
            "node": "Code - Word Matching Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Semantic Input": {
      "main": [
        [
          {
            "node": "AI Agent - Semantic Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code - Prepare Semantic Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        [
          {
            "node": "Code - Parse Semantic Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46f22472-6a00-4a94-a917-4e027575f76b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f7b4f608f7d595d8ae5ac5dd894b34f59b5724e089596e7f5a872c8ad7d6685"
  },
  "id": "nPqZ3LC3xmKl2RHK",
  "tags": []
}